<br>
<br>
<br>

<div class="container">
	<h3 class="text-center">Ming Dynasty</h3>
</div>

	<% @emperors.each do |emperor| %>
		<div class="container">
		  <p class="text-center">
		    <strong>Name:</strong> <%=emperor.name%><br>
		    <strong>Year:</strong> <%=emperor.year%><br>
		  </p>
		</div>
	<% end %>