<br>
<br>  
<br>
  <% emperor=@emperor %>

  <p class="text-center">
    <strong>Name:</strong> <%=emperor.name%><br>
    <strong>Picture:</strong> Placeholder for Picture<br>
    <strong>Year:</strong> <%=emperor.year%><br>
    <strong>Dynasty:</strong> <%=emperor.dynasty%><br>
    <strong>Description:</strong> Placeholder for Description of Emperor<br>
  </p>
