This is the Emperor Show Page
  
  <% doug=@emperor %>

  <p>
    <strong>Name:</strong> <%=doug.name%><br>
    <strong>Year:</strong> <%=doug.year%><br>
    <strong>Dynasty:</strong> <%=doug.dynasty%><br>
  </p>
