<br>
<br>  
<br>
  <% doug=@emperor %>

  <p class="text-center">
    <strong>Name:</strong> <%=doug.name%><br>
    <strong>Year:</strong> <%=doug.year%><br>
    <strong>Dynasty:</strong> <%=doug.dynasty%><br>
  </p>
